{% extends "layout.html" %}

{% block content %}

  <div class="page-header">
    <h1>Welcome to Twitter.js, Nimit!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>Your Name</b><br>
      100 followers
    </div>
    <div class="col-md-9">


       {% for user in users %}
       
        {% for tweet in user.Tweets %}
        <li>
          <a href="/users/{{user.name}}" class="tweetbox">
            <img src="{{user.pictureUrl}}">
          </a>
            <a href="/users/{{user.name}}/tweets/{{tweet.id}}">{{tweet.id}}</a> {{tweet.tweet}}
        </li>

        {% endfor %}
      {% endfor %}

    </div>
  </div>

{% endblock %}
